

@import "tailwindcss";

/* --- CUSTOM PREMIUM SCROLLBAR --- */
@layer base {
  ::-webkit-scrollbar {
    width: 10px; /* Scrollbar-er width */
  }

  ::-webkit-scrollbar-track {
    background: #f8fafc; /* Track-er color amader background-er sathe milaya */
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #FF8FAF, #CCFAD6); /* Pink to Mint Gradient */
    border-radius: 20px; /* Rounded look-er jonno */
    border: 2px solid #f8fafc; /* Track theke ektu gap rakhar jonno */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #FF8FAF; /* Hover korle puro pink hoye jabe */
  }

  /* Firefox-er jonno (Standard) */
  * {
    scrollbar-width: thin;
    scrollbar-color: #FF8FAF #f8fafc;
  }
}

@theme {
  --color-primary: #FF8FAF;
  --color-secondary: #CCFAD6;
  --animate-bounce-slow: bounce-slow 10s infinite ease-in-out;

  @keyframes bounce-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
}
